/* Write your code here. */
.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-heading {
  font-family: Roboto;
}

.box-title {
  font-family: Bree Serif;
  color: #ffffff;
}
.boxes-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
.large-box {
  background-color: #ec4899;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.medium-box {
  background-color: #38bdf8;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.small-box {
  background-color: #fbbf24;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
